PersianCalendar.exe
PersianCalendar.gcc.exe
PersianCalendar.llvm.exe
upx.exe
test.exe
PersianCalendarSetup.exe
setup.res
.vscode/
.DS_Store
PersianCalendar.obj
test.obj

# Xmake cache
.xmake/
build/

compile_commands.json
