PersianCalendar.exe
PersianCalendar.gcc.exe
PersianCalendar.llvm.exe
Crinkler.exe
test.exe
PersianCalendarInstaller.exe
.vscode/
.DS_Store
PersianCalendar.obj
test.obj

# Xmake cache
.xmake/
build/

compile_commands.json
