#include <winres.h>

1 ICON "Calendar.ico"
LANGUAGE LANG_PERSIAN, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
FILEVERSION    5,7,18,0
PRODUCTVERSION 5,7,18,0
FILEFLAGSMASK  0x3fL
#ifdef _DEBUG
FILEFLAGS      0x1L
#else
FILEFLAGS      0x0L
#endif
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "042904b0" // Language: Persian (0429), Character Set: Unicode (04b0)
        BEGIN
            VALUE "CompanyName",      "Persian Calendar"
            VALUE "FileDescription",  "Persian Calendar Win32"
            VALUE "FileVersion",      "5.7.18.0"
            VALUE "InternalName",     "setup.exe"
            VALUE "OriginalFilename", "setup.exe"
            VALUE "ProductName",      "Persian Calendar Win32"
            VALUE "ProductVersion",   "5.7.18.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0429, 0x04b0
    END
END
